keyboard-mapping-preview {
  font-weight: bold;
}

keyboard-mapping-preview .keycap {
  font-weight: 800;
  color: white;
  background: none;
  border-radius: 0;
  box-shadow: none;
}

keyboard-mapping-preview .pointer-icon {
  min-height: 32px;
  -gtk-icon-size: 24px;
}

.shortcut-mask-bin {
  border-radius: 6px;
}

.keyboard-hint {
  min-height: 34px;
  padding: 0 5px;
  border-spacing: 6px;
  -gtk-icon-size: 24px;
}

.keyboard-hint > box {
  border-spacing: 6px;
}

.keyboard-hint shortcut > label {
  min-height: 0;
  padding: 0 6px;
}

.keyboard-hint shortcut {
  min-height: 24px;
}

.keyboard-hint mask-bin {
  border-radius: 6px;
}

.keyboard-hint > box > label:dir(ltr) {
  margin-right: 3px;
}

.keyboard-hint > box > label:dir(rtl) {
  margin-right: 3px;
}
