fullscreen-view {
  --headerbar-bg-color: rgb(24 24 24);
  --popover-bg-color: rgb(24 24 24);
}

fullscreen-view .scrim {
  background: none;
}

fullscreen-view .top-bar:not(.raised) {
  text-shadow: none;
  -gtk-icon-shadow: none;
  background: var(--headerbar-bg-color);
  color: var(--headerbar-fg-color);
  box-shadow: inset 0 -1px var(--border-color);
}
