fullscreen-view {
  --window-bg-color: black;
  --window-fg-color: #f2f2f2;

  --headerbar-fg-color: inherit;
  --headerbar-bg-color: rgb(24 24 24 / 90%);
  --headerbar-backdrop-color: rgb(17 17 17 / 90%);
  --headerbar-darker-shade-color: rgb(0 0 0 / 90%);

  --popover-bg-color: rgb(24 24 24 / 90%);
  --popover-fg-color: white;

  --accent-bg-color: rgb(255 255 255 / 75%);
  --accent-fg-color: rgb(0 0 0 / 75%);
  --accent-color: white;
}

fullscreen-view .scrim {
  min-height: 150px;
  background: linear-gradient(to bottom, rgb(0 0 0 / 40%), transparent);
}

fullscreen-view .top-bar:not(.raised) {
  text-shadow: 0 0 16px rgb(0 0 0 / 70%);
  -gtk-icon-shadow: 0 0 16px rgb(0 0 0 / 70%);
}

fullscreen-view .top-bar.raised.border {
  margin-bottom: 1px;
}

.loading {
  background: rgb(0 0 0 / 50%);
}

rumble-indicator {
  margin: 32px;
  -gtk-icon-size: 32px;
  -gtk-icon-shadow: 0 0 3px black;
}

controls-preview controls-preview-page {
  transition: transform 200ms ease-out;
}

controls-preview-page.slide-left:dir(ltr),
controls-preview-page.slide-right:dir(rtl) {
  transform: translateX(-150px);
}

controls-preview-page.slide-right:dir(ltr),
controls-preview-page.slide-left:dir(rtl) {
  transform: translateX(150px);
}

controls-overlay {
  background: rgb(0 0 0 / 75%);
  color: white;
}

controls-overlay .suggested-action-mask {
  border-radius: 99px;
}

controls-overlay .suggested-action-mask .suggested-action {
  background: transparent;
  color: black;
}

controls-overlay .suggested-action-mask .suggested-action:hover {
  background: rgb(255 255 255 / 10%);
}

controls-overlay .suggested-action-mask .suggested-action:active,
controls-overlay .suggested-action-mask .suggested-action.keyboard-activating {
  background: rgb(255 255 255 / 20%);
}

controls-overlay actionbar > revealer > box {
  padding: 12px;
  background: none;
  box-shadow: none;
  color: inherit;
}

controls-overlay actionbar > revealer > box > * {
  filter: none;
}

notification-popup > .card {
  background-color: var(--popover-bg-color);
  color: var(--popover-fg-color);
  margin: 12px;
  padding: 12px;
  min-width: 300px;
}

notification-popup > .card .icon {
  min-width: 48px;
  min-height: 48px;
  -gtk-icon-size: 24px;
  border-radius: 99px;
  background: color-mix(in srgb, currentColor 10%, transparent);
}
