.snapshots > row {
  padding: 0;
  border-radius: 12px;
}

snapshot-row {
  padding: 6px;
}

snapshot-thumbnail {
  border-radius: 6px;
  background: black;
}

snapshot-thumbnail:disabled {
  opacity: var(--disabled-opacity);
}

.new-snapshot-icon {
  background: color-mix(in srgb, currentColor 10%, transparent);
  border-radius: 6px;
}
