.transparent overlay-control {
  filter: opacity(80%) drop-shadow(0 1px 3px rgb(0 0 0 / var(--dim-opacity)));
}

.transparent overlay-decoration {
  filter: opacity(40%) drop-shadow(0 1px 3px rgb(0 0 0 / var(--dim-opacity)));
}

overlay-control.round,
overlay-control.dpad,
overlay-control.stick {
  border-radius: 9999px;
}
