row.palette {
  min-height: 42px;
  padding: 6px;
  padding-left: 12px;
}

palette-preview {
  border-radius: 6px;
}

palette-thumbnail {
  background: none;
  border-radius: 0;
}

row.color box.header {
  margin-right: 3px;
}

row.color colorbutton > button {
  border-radius: 99px;
  padding: 3px;
  background: none;
}

row.color colorbutton > button:not(:hover):not(:active) {
  box-shadow: none;
}

row.color colorbutton > button:hover {
  background: color-mix(in srgb, currentColor 7%, transparent);
}

row.color colorbutton > button:active {
  background: color-mix(in srgb, currentColor 16%, transparent);
}

row.color colorbutton > button > colorswatch {
  border-radius: 99px;
  min-width: 38px;
  min-height: 38px;
}
