.gamepad-hint {
  min-height: 34px;
  padding: 0 6px;
  border-spacing: 6px;
  -gtk-icon-size: 24px;
}

gamepad-layout-view:disabled {
  opacity: .3;
}

gamepad-mapping-preview {
  font-weight: bold;
  -gtk-icon-size: 24px;
}

gamepad-mapping-preview .button-8bitdo-select,
gamepad-mapping-preview .button-8bitdo-start,
gamepad-mapping-preview .button-steam-steam,
gamepad-mapping-preview .button-steam-qam,
gamepad-mapping-preview .button-ps4-share,
gamepad-mapping-preview .button-ps4-options {
  -gtk-icon-size: 32px;
  margin: -4px;
}
