.controllers-list separator {
  margin: 6px;
}

.menu header {
  padding: 0;
}

.menu header separator {
  margin: 6px;
}

preferences-sidebar .navigation-sidebar > row > box {
  padding: 3px 3px;
  min-height: 37px;
  border-spacing: 9px;
}

preferences-sidebar .navigation-sidebar > row .sidebar-icon {
  padding: 0 3px;
}
