.library-grid {
  background: none;
  color: inherit;
  padding: 12px;
  padding-top: 0;
}

.library-grid > child {
  margin: 0;
  padding: 0;
  background: none;
  outline: none;
  box-shadow: none;
}

library-grid-item {
  padding: 3px;
  margin: 12px;
  margin-top: 6px;
  margin-bottom: 0;
}

game-cover {
  min-width: 160px;
  border-radius: 12px;

  transition-property: outline, outline-width, outline-offset, outline-color;
  transition-duration: 100ms;
  animation-timing-function: ease-in-out;

  outline: 0 solid transparent;
  outline-offset: 2px;
}

game-cover .empty {
  -gtk-icon-size: 48px;
  color: color-mix(in srgb, currentColor 50%, transparent);
  background: color-mix(in srgb, currentColor 20%, transparent);
}

.library-grid.compact game-cover {
  min-width: 128px;
}

.library .library-grid:focus-within:focus-visible child:selected game-cover {
  outline: 5px solid color-mix(in srgb, var(--accent-color) 50%, transparent);
}

.library.gamepad-available:not(.focusing-sidebar) .library-grid child:selected game-cover {
  outline: 5px solid color-mix(in srgb, var(--accent-color) 80%, transparent);
}

.library.gamepad-available.focusing-sidebar .navigation-sidebar row:selected {
  outline: 2px solid color-mix(in srgb, var(--accent-color) 80%, transparent);
  outline-offset: -2px;
}

.platform-icon-page .icon {
  -gtk-icon-size: 120px;
  min-width: 128px;
  min-height: 128px;
}

.sidebar-icon:disabled,
.sidebar-button:disabled {
  opacity: .385;
}

.sidebar-button {
  opacity: .7;
}
