.library .library-grid:focus-within:focus-visible child:selected game-cover,
.library.gamepad-available:not(.focusing-sidebar) .library-grid child:selected game-cover {
  outline: 5px solid var(--accent-color);
}

game-cover .empty {
  color: inherit;
  background: color-mix(in srgb, currentColor 20%, transparent);
}
