.overlay-menu {
  background: rgb(0 0 0 / 75%);
  color: white;
}

.overlay-menu actionbar > revealer > box {
  padding: 12px;
}

.overlay-menu page {
  transition: transform 200ms ease-out;
}

.overlay-menu page.slide-left:dir(ltr),
.overlay-menu page.slide-right:dir(rtl) {
  transform: translateX(-150px);
}

.overlay-menu page.slide-right:dir(ltr),
.overlay-menu page.slide-left:dir(rtl) {
  transform: translateX(150px);
}

.overlay-menu page > scrolledwindow > viewport > clamp {
  padding: 12px;
}

.overlay-menu page list {
  background: none;
  color: inherit;
}

.overlay-menu actionbar > revealer > box {
  background: none;
  box-shadow: none;
  color: inherit;
}

.overlay-menu actionbar > revealer > box > * {
  filter: none;
}

.overlay-menu page separator {
  background: none;
  min-height: 24px;
}

.overlay-menu-row {
  padding: 0;
  font-weight: 700;
  font-size: 20pt;
  border-radius: 12px;
  outline: none;
  -gtk-icon-size: 24px;
}

.overlay-menu-row:hover {
  background: rgb(255 255 255 / 10%);
}

.overlay-menu-row:active {
  background: rgb(255 255 255 / 20%);
}

.overlay-menu-row:selected {
  background: none;
}

.overlay-menu-row:selected:hover {
  color: rgb(255 255 255 / 95%);
  background: none;
}

.overlay-menu-row:selected:active {
  color: rgb(255 255 255 / 85%);
  background: none;
}

.overlay-menu-row > box {
  padding: 12px;
  border-spacing: 6px;
}

.overlay-menu-row > box > label {
  padding: 0 6px;
}

.overlay-menu page.has-header .overlay-menu-row:not(.header) > box:dir(ltr) {
  padding-left: 42px; /* 12px + 24px + 6px */
}

.overlay-menu page.has-header .overlay-menu-row:not(.header) > box:dir(rtl) {
  padding-right: 42px; /* 12px + 24px + 6px */
}

.overlay-menu-row switch {
  background: none;
  color: inherit;
  border: 2px solid currentColor;
  border-radius: 999px;
}

.overlay-menu-row switch slider {
  box-shadow: none;
  color: inherit;
  background: currentColor;
}
