.overlay-menu-row:selected {
  background: white;
  color: black;
}

.overlay-menu-row:selected:hover {
  background: rgb(255 255 255 / 95%);
  color: black;
}

.overlay-menu-row:selected:active {
  background: rgb(255 255 255 / 85%);
  color: black;
}
