game-cover.properties {
  min-height: 160px;
}

.cover-overlay-button-bg {
  background: var(--window-bg-color);
  color: var(--window-fg-color);
  border-radius: 99px;
  padding: 3px;
  --offset: 12px;
}

.cover-overlay-button-bg.top.left {
  transform: translate(calc(var(--offset) * -1), calc(var(--offset) * -1));
}

.cover-overlay-button-bg.top.right {
  transform: translate(var(--offset), calc(var(--offset) * -1));
}

.cover-overlay-button-bg.bottom.left {
  transform: translate(calc(var(--offset) * -1), var(--offset));
}

.cover-overlay-button-bg.bottom.right {
  transform: translate(var(--offset), var(--offset));
}
