/* Copied from Loupe */

icon-label .inline-icon {
  -gtk-icon-size: 1em;
}

drop-overlay {
  /* Disable the ugly default drop style */
  box-shadow: none;
}

drop-overlay .overlay-status {
  color: var(--accent-color);
  background-color: color-mix(in srgb, var(--accent-bg-color) 8%, transparent);
  border: 2px dashed color-mix(in srgb, currentColor var(--dim-opacity), transparent);
  border-radius: 2px;
  margin: 12px;
}

drop-overlay .overlay-status label {
  opacity: var(--dim-opacity);
}
